$dark-color: rgb(60,60,60);
$blue-highlight: rgb(69,157,229);

.action-buttons {
  .btn-primary {
    background-color: lighten($blue-highlight, 5%);
    border-color: lighten($blue-highlight, 10%);
    font-weight: bold;
    width: 100%;
    font-size: 1.1em;
  }

  label {
      display: block;
      color: #999;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.85em;
      margin-bottom: 0;
  }

  .btn-default {
    background-color: white;
    width: 50%;
  }

  .btn {
      font-size: 1em;
      margin-bottom: 5px;
      padding: 8px 3px;
      &:hover {
          background-color: $blue-highlight;
          border-color: darken($blue-highlight, 10%);
          color: white;
      }
  }

  .two-columns {
    & > div {
        width: 50%;
        display: inline-block;
    }
    li {
        margin-bottom: 0;
        a.contribute {
            font-size: 0.9em;
            font-style: italic;
        }
    }
  }
}

.video-embed {
    margin-left: 40px;
    margin-bottom: 40px;
}

.home {
    img.img-screen {
        border: 1px solid black;
    }

    table tr.tall td {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    table.editor-lang-grid {
        tr {
            td, th {
                padding-top: 1.5em;
                padding-bottom: 1.5em;
            }
        }
    }

    form.form-subscribe {
        input.form-control {
            font-size: 1em;
            height: 3.025em;
        }
    }
}

body {
  background-color: white;
}

// Applies to both Navbars
.navbar {
  margin: 0px;
}

// Main Navbar Stylings
.navbar-default {
  background-color: white;

  .navbar-brand {
    color: $dark-color;

    img {
        margin-top: -6px;
        height: 35px;
        width: 35px;
    }
  }

  .navbar-brand:hover {
    color: $blue-highlight;
  }

  .navbar-nav>li>a {
    color: $dark-color;
  }
  .navbar-toggle .icon-bar {
    background-color: $dark-color;
  }
  .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
  }

  .navbar-nav>.active>a, .navbar-nav>.active>a:hover,
  .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: white;
    background-color: $dark-color;
  }


}

// Documentation Navbar
.navbar-inverse {
  /*height: 80px;*/
  background-color: $dark-color;


  .navbar-nav>.active>a, .navbar-nav>.active>a:hover,
  .navbar-nav>li>a:hover, .navbar-nav>li>a:focus,
  .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
    color: white;
    background-color: $blue-highlight;

  }

  .dropdown-menu {
    background-color: $blue-highlight;
  }
}


/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

.bs-sidebar.well {
    padding: 0;
}

/* First level of nav */
.bs-sidenav {
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    background-color: transparent;
    border-right: 1px solid;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 111px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}

// Newsletter form
.newsletter {
  margin: 0 auto;
  text-align: center;
  color: $blue-highlight;

  font-size:130%;
  padding: 70px;

  input {
    margin: 0 auto;
    max-width: 400px;

    color: white;
    border-color: white;
    background-color: $blue-highlight;

  }
}

// Pager
.pager > li {
  font-size: 200%;
}

// Community page
.communitycontainer {
  margin-top: 100px;

  padding-top:80px;
  padding-bottom:80px;
  padding-left: 50px;
  padding-right: 50px;

  background-color:rgb(136,138,140);
  width:100%;

  > div {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: white;

    font-weight:bold;
    font-size: xx-large;

    > a {
      color:white;
    }

    > a:hover {
      color: $blue-highlight;
      text-decoration: none;
    }
  }
}


.section .container {

  @media (min-width: 768px) {
    padding-top:80px;
    padding-bottom:80px;

    font-size: 130%;
  }
}

//From the team that brought you...
.team {
  background-color:$blue-highlight;

  a {
      color: white;
  }

  > div {
      img {
          max-width: 400px;
      }
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: white;
  }
}

// About page
.about {
  padding:50px;

  > div {
    max-width: 400px;
    font-size: 130%;

    margin-left: auto;
    margin-right: auto;
  }
}

//Homepage banner
.banner {
  iframe {
    max-width:100%;
  }
  color: white;
  background-color: #40A6D3;

  a {
      color: white;
      font-weight: bold;
  }

  p {
      padding-top: 0.5em;
  }

  .btn {
      font-size: 1em;
      padding: 0.75em 0.75em;
  }

  @media (min-width: 768px) and (max-width: 2000px) {
    //background-image: url('/images/banner.svg');
    background-size: cover;
  }
}

.languages {
  color: white;
  background-color:#1E87C1;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}

.challenge {
  color: #e0e0e0;
  background-color: #202020;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}

.solution {
  color: white;
  background-color: $blue-highlight;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}

.features {
  color: white;
  background-color: #BCBCC1;

  #left {
    text-align: center;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}

.integrations {
  color: white;
  background-color: #40A6D3;

  #right {
    text-align: center;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}

.hljs {
  background: none;
}

.editoricon {
  //padding: 40px;
  width: 100%;
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.desaturate {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);

  /* Firefox 10+, Firefox on Android */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

  opacity: 0.5;
}

img.desaturatehalf {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  filter: grayscale(80%);
}


// Make sure images in markdown don't exceed the container
.container {
  img {
    max-width: 100%;
  }
}

// Documentation Markdown stylings
.content {
  font-size: 110%;
  line-height: 1.5em;

  p, li {
    margin-bottom: 16px;
  }

  .content-edit {
    margin-top: -1px;
    font-size: 0.8em;
    a {
      color: white;
      background-color: #aaa;
      padding: 3px 6px;
      border-radius: 0 0 2px 2px;
      text-decoration: none;
      &:hover {
          background-color: $blue-highlight;
      }
    }
  }

  h1 {
    margin-bottom: 20px;
  }

  img[alt="srclib symbol"] {
    width: 47px;
    height: 47px;
  }
}
